
.add-inp{
    height: 4vh;
}
#add-btn {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
   
  }
  #add-btn:hover {
    background-position: right center;
  }

.add-fields{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
}
.add-field{
    display: flex;
    flex-direction: column;
}